@import './assets/reset';
@import './assets/fonts';
@import './assets/colors';
@import './assets/css-variables';
@import './assets/grid';

body {
    background-color: var(--dark-white);
    font: 600 14px / normal Manrope, sans-serif;
    color: var(--black);
}

.main {
    padding-top: calc(var(--header-height) + 25px);
    @media (min-width: 1279.98px) {
        padding-top: calc(var(--header-height) + 40px);
    }
}
